################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vc2015/x64/Debug/vc140.pdb
/vc2015/x64/Debug/vc140.idb
/vc2015/x64/Debug/StevieApp.obj
/vc2015/x64/Debug/Stevie.tlog/Stevie.lastbuildstate
/vc2015/x64/Debug/Stevie.tlog/rc.write.1.tlog
/vc2015/x64/Debug/Stevie.tlog/rc.read.1.tlog
/vc2015/x64/Debug/Stevie.tlog/rc.command.1.tlog
/vc2015/x64/Debug/Stevie.tlog/link.write.1.tlog
/vc2015/x64/Debug/Stevie.tlog/link.read.1.tlog
/vc2015/x64/Debug/Stevie.tlog/link.command.1.tlog
/vc2015/x64/Debug/Stevie.tlog/CL.write.1.tlog
/vc2015/x64/Debug/Stevie.tlog/CL.read.1.tlog
/vc2015/x64/Debug/Stevie.tlog/CL.command.1.tlog
/vc2015/x64/Debug/Stevie.tlog
/vc2015/x64/Debug/Stevie.pdb
/vc2015/x64/Debug/stevie.obj
/vc2015/x64/Debug/Stevie.log
/vc2015/x64/Debug/Stevie.ilk
/vc2015/x64/Debug/Stevie.exe
/vc2015/x64/Debug/Resources.res
/vc2015/x64/Debug/ground.obj
/vc2015/x64/Debug/algorithm.obj
/vc2015/x64/Debug
/vc2015/.vs/Stevie/v15/Browse.VC.opendb
/vc2015/.vs/Stevie/v15/Browse.VC.db
/vc2015/.vs/Stevie/v15/ipch/AutoPCH/f808968c62030204/STEVIEAPP.ipch
/vc2015/.vs/Stevie/v15/ipch/AutoPCH/f808968c62030204
/vc2015/.vs/Stevie/v15/ipch/AutoPCH/abac5d2b9e03a3/STDTHROW.ipch
/vc2015/.vs/Stevie/v15/ipch/AutoPCH/abac5d2b9e03a3
/vc2015/.vs/Stevie/v15/ipch/AutoPCH/338c790085544e0/GROUND.ipch
/vc2015/.vs/Stevie/v15/ipch/AutoPCH/338c790085544e0
/vc2015/.vs/Stevie/v15/ipch/AutoPCH/31ec69049eccd35a/ALGORITHM.ipch
/vc2015/.vs/Stevie/v15/ipch/AutoPCH/31ec69049eccd35a
/vc2015/.vs/Stevie/v15/ipch/AutoPCH/185197554443c1a/STDTHROW.ipch
